* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
  --black-kit: hsl(0, 0%, 10%);
  --black-kit-20: hsl(0, 0%, 20%);
  --black-kit-40: hsl(0, 0%, 40%);
  --black-kit-60: hsl(0, 0%, 60%);
  --black-kit-80: hsl(0, 0%, 80%);
  --black-kit-100: hsl(0, 0%, 100%);
 
  
  --color-primary: rgb(0, 51, 15);
  --color-secondary: #008026;
  --color-tertiary: #00ff4c;
  --color-background-primary:rgb(128, 255, 166);
  --color-background-secondary:rgb(204, 255, 219);

}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background: #F1F1F1;
}

*, html {
    --primaryGradient: linear-gradient(93.12deg, #008026 0.52%, #00ff4c 100%);
    --secondaryGradient: linear-gradient(268.91deg, #008026 -2.14%, #00ff4c 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #00ff4c;
}


.chatbox {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
}

.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 450px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
    pointer-events: none; 
    position: fixed;
    bottom: 24px;
    right: 20px;
}

.chatbox--active {
    transform: translateY(-72px);
    z-index: 123456;
    visibility: visible;
    pointer-events: auto;
    opacity: 1;

}

.chatbox__button {
    position: absolute;
    right: 0;
    bottom: 2px;
    text-align: right;
    width: 50px;
    
}

.send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


.chatbox__header {
    position: sticky;
    top: 0;
    background: var(--color-background-secondary);
}

.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    background: var(--color-background-secondary);
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

.chatbox__footer {
    position: sticky;
    bottom: 0;
}

.chatbox__support {
    background: var(--black-kit-100);
    height: 450px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 10px;
}



.chatbox__heading--header {
    font-size: 1.2rem;
    color: var(--color-primary);
}

.chatbox__description--header {
    font-size: .9rem;
    color: var(--color-background-secondary);
}

.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
    margin-top: 10px;
    background: var(--color-background-secondary);
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
    box-shadow: 2px 2px 3px #999;
}

.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.chatbox__footer input {
    background-color: var(--black-kit-100);
    width: 80%;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: left;
}

#chat-input:focus-visible {
    outline: none;
    border: 2px solid var(--color-tertiary);
    box-shadow: 0 0 4px rgb(204, 255, 219); /* optional for nicer effect */
}




.chatbox__send--footer {
    color: var(--color-background-secondary);
    border: solid 1px var(--color-background-secondary);
    border-radius: 5px;
    
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: white;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
  box-shadow: 0 0 10px #a5d0ef, 0 0 20px #a5d0ef, 0 0 30px #a5d0ef,
  }
  to {
    box-shadow: 0 0 20px #a5d0ef, 0 0 30px #a5d0ef, 0 0 40px #a5d0ef;
  }
}





